@media(min-width:300px){
h4.freelance{
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #666;
}
h3{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #003648;
    margin-top: 5px;
}
div.itemr{
    font-size: 16px;
    color: #666;
    text-align: left;
    line-height: 2.5;
}
div.Btn{
    text-align: left;
   }
   
   .pic img{
    height: 125px;
    text-align: left;
    margin-top: 20px;
   }
.rounded-rcircle{
    box-shadow: 4px 8px 16px 3px rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.12);
    border: solid 1px #dfe4e6;
    border-radius: 3px;
    transform: scale(0.9) rotateY(2deg);
}
.left{
    flex: 1.5;
    perspective: 200px;
    padding-bottom: 40px;
    margin-left: 10px;
}
}