@media(min-width:300px){
h4.gain{
    margin: 40px 0px 0px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #666;
    padding: 0px 20px;
}
div.button{
    margin-top : 20px;
}
h2{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #003648;
}
div.variety{
    border-radius: 6px;
    box-shadow:  6px 12px 0 #5e95ab;
    border: solid 1px #e8f5f9;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
}

.h6{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    margin-top: 40px;
    text-align: center;
}
p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #999;
    margin-top: 4px;
    text-align: center;
}
}