@media only screen and (min-width: 320px) and (max-width: 860px) {}

.center{
  background-image: linear-gradient(294deg,#006080,#006181 47%,#003648);
  height: 550px;
  z-index: 2;
}

.text-center{
  background-image: url(https://next-cdn.codementor.io/static/images/landing-page/bg-lines-1.png);
}

.page-header{
  text-align: center;
}
h1{
  color: ghostwhite;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
}
 #box{
  position: relative;
  margin: -65px auto 100px auto;
}
#box .img img{
  max-width: 50%;
max-height: auto;
display: block;
margin: auto;
box-shadow: none;
border: none;
text-align: center;
  z-index: 1;
  position: absolute;
}
.wrapper{
  text-align: center;
  padding-top: 140px;
  margin-bottom: 10px;
}
#main{
  text-align: center;
}